.w-header {
    color: #e7e7e7;
    background: #2b669a;
}

.w-sidebar {
    background: #afd9ee;
}

.w-content {
    background: #e7e7e7;
}

.w-solution {
    background: #fcf8e3;
}

.w-answer {
    background: #f8efc0;
}